#ability{
    background: var(--brown);
    height: 75rem;
}

.ability-pd{
    padding-top: 93px;
}

.ability-pd h2{
    text-align: center;
    border: 1px solid red;
    padding: 10rem;
}

.ability-description{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: start;
    padding-bottom: 70px;
}

.container-ability{
    display: flex;
    justify-content: center;
    gap: 37px;
    max-width: 55%;
    flex-wrap: wrap;
}

.ability-box{
    border: 1px solid black;
    align-items: center;
    background: var(--gray);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    height: 106px;
    justify-content: center;
    transition: ease .3s;
    width: 106px;
    margin-left: 50px;
}

.ability-box:hover{
    background: var(--white);
    transform: scale(1.05);
}

.container-description{
    border: 2px solid purple;
    background: var(--gray);
    box-shadow: 2px 3px 7px 1px  var(--dark-brown);
    border-radius: 1rem;
    width: 100rem;
    height: 28rem;
    margin-right: 2rem;
    margin-left: 3rem;
}
.icon-ability{
    transition: ease-in-out .3s;
}


