:root{
    --brown: #493737;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#about{
    width:100%;
    background: var(--brown);
}


.ajustar{
    display: flex;
    flex-wrap: wrap;
    gap:67px;
    margin: auto 0;
    max-width: 1064px;
    padding: 144px 0;
}

h2{
    text-align: start;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 55px;
    font-weight: bold;
    color: var(--white);
}


.node {
    bottom: 0;
    left: 0;
    animation: html 3s infinite linear alternate-reverse ;
}

.js {
    bottom: 0;
    left: 150px;
}

.sql {
    bottom: 0;
    left: 300px;
    animation: css 3s infinite linear alternate-reverse;
}


.about_me{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_me p{
    font-size: 20px;
    text-indent: 20px;
    max-width: 600px;
    color: var(--white);
}

@keyframes node {
    0% {
        bottom: 0;
        left: 250px;
    }
    100% {
        bottom: 0;
        left: 50px;
    }
}
@keyframes sql {
    0% {
        bottom: 0;
        left: 50px;
    }
    100% {
        bottom: 0;
        left: 250px;
    }
}
