:root{
    --brown: #493737;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#about{
    width:100%;
    background: var(--brown);
}


.ajustar{
    display: flex;
    flex-wrap: wrap;
    gap:67px;
    margin: auto 0;
    width: 100%;
    padding: 144px 0;
}

h2{
    text-align: center;
    margin: 3.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: var(--white);
}

.circulo-conteiner{
    border: 1px solid var(--brown);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 1rem;
    
}

.avatar {
    width: 30rem;
    height: 30rem;
    margin-left: 2rem;
    padding: 2rem;
    position: relative;
    cursor: pointer;
    transition: ease 1s;
}

.avatar:hover {
    transform: scale(1.05);
}


.about_me{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 4px 5px 10px 2px  var(--dark-brown);
    border-radius: 1rem;
}

.about_me p{
    font-size: 20px;
    text-indent: 20px;
    max-width: 600px;
    color: var(--white);
}