:root{
    --light-brown:#705656;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#project{
    background-color: var(--dark-brown);
}
.project{
    padding-top: 93px;
    border: 1px solid var(--brown);
    background: var(--light-brown);
    

}

.title{
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: var(--white);
    background-color: var(--brown);
    border: none;
    transition: ease-in-out 0.3s;
}

.project-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

.itens div {
    background-color: var(--brown);
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.itens {
    background-color: var(--gray);
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out .5s;
}

.itens div p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: var(--gray);
}

.itens:hover {
    letter-spacing: 5px;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}